out/
*.class
classes/
gen/
proguard.cfg
*.iml
*.bak
.idea/
local.properties
project.properties
proguard.cfg
.classpath
.cproject
.project
*.protobin
target/
log/
*.log
obj/
*.DS_Store
